#timer {
    height: 50vh;
}

#columnSec {
    height: 100%;
    width: 100%;
}

input[type="number"] {
    font-size: calc(6vw + 1vh);
    font-weight: bold;
    height: 100%;
    width: 100%;
    text-align: center;
}

h1 {
    font-size: calc(2vw + 1vh);
    font-weight: bold;
}

#rules {
    height: 50vh;
    font-size: calc(1vw + .75vh);
    justify-items: center;
}

#colon{
    font-size: 12vw;
}

button {
    display: block;
    font-size: calc(2vw + 1vh);
    border-radius: 12px;
    transition-duration: 0.4s;
    color: white;
}

#startButton {
    background-color: green;
    padding: 14px 40px;
    margin-right: 1vw;
}

#startButton:hover {
    background-color: rgba(0, 128, 0, 0.5);
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

#stopButton {
    background-color: red;
    padding: 14px 45px;
    margin-right: 1vw;
}

#stopButton:hover {
    background-color: rgba(255, 0, 0, 0.5);
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

#resetButton {
    background-color: orange;
    padding: 14px 30px;
}

#resetButton:hover {
    background-color: rgba(255, 166, 0, 0.5);
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}